.button3 {
  border: 2px solid #f44336;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button3:hover {
  background-color: #f44336 !important;
  color: white !important;
}

.button4 {
  border: 2px solid rgb(110, 61, 61);
  transition-duration: 0.4s;
  cursor: pointer;
}

.button4:hover {
  background-color:rgb(110, 61, 61)!important;
  color: white !important;
}

.button5:hover {
  background-color: rgb(215, 156, 156)!important;
  color: white !important;
}

body {
    background: #cccccc url("https://w0.peakpx.com/wallpaper/424/771/HD-wallpaper-crab-on-the-beach-nature-beaches-animals-other.jpg") no-repeat center center fixed;
    background-size: cover;
}